@font-face {
    font-family: Hero;
    src: url(./fonts/Hero/Hero-Regular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Hero;
    src: url(./fonts/Hero/Hero-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Hero;
    src: url(./fonts/Hero/Hero-Light.ttf) format("truetype");
    font-weight:300 ;
}

*
{
    font-family: Hero, system-ui, sans-serif;
    font-size: 18px;
    /* border: 1px dashed red; */
}

body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    min-height: 100vh;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

.bright
{
    color: #f9faf8;
}

.lightgrey
{
    color: #e5e7eb;
}

.dark
{
    color: #1F2937;
}

.signup button
{
    background-color: #3882f6;
    border-color: #3882f6;
    color: #f9faf8;
    border-radius: 6px;
    padding: 4px 16px;
    cursor: pointer;
}

.signup button:hover
{
    background-color: #0062ff;
}

.inner
{
    width: 70%;
    margin: 0 auto;
}

header, footer
{
    width: 100%;
    background-color: #1F2937;
}

header  *
{
    margin: 0;
    padding: 0;
}

nav
{   
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
    padding: 8px 0;
}

picture.navmem
{
    filter: invert(0.4);
    display: flex;
}

ul.navmem
{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.navmem a
{
    color: #e5e7eb;
}

.banner
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    padding: 40px 0;
}

.banner picture
{
    min-width: 200px;
    max-width: 300px;
    flex: 1 1 200px;
    display: flex;
    flex-direction: center;
}

.banner-text
{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.banner img
{
    width: 98%;
    /* object-fit: cover; */
    border: #e5e7eb solid 1px;
    border-radius: 5px;
}

.navmem#logo-title
{
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.banner #title
{
    font-size: 48px;
    font-weight: bolder;
}

main
{
    width: 100%;
    background-color: #f9faf8;
}

main h2
{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.pic-ban
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 0;
}

.pic-card
{
    text-align: center;
    width: 120px;
    /* width: 20%; */
    flex: 0 0 auto;
    color: #1F2937;
}

.pic-card picture
{
    /* width: 100px; */
    /* height: 100px; */
    display: flex;
    justify-content: flex-start;
}

.pic-card img
{
    width: 98%;
    border: #3882f6 solid 3px;
    border-radius: 10px;
}

.pic-card .subtext
{
    font-size: 12px;
    text-align: center;
}

.testimonials
{
    background-color: #e5e7eb;
    padding: 40px 0;
}

.test-banner
{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: auto;
    scrollbar-color: #1f2937 transparent;
}

.test-banner::-webkit-scrollbar 
{
    width: 4px;
}
.test-banner::-webkit-scrollbar-track 
{
    background: transparent;
}

.test-banner::-webkit-scrollbar-thumb 
{
    background-color: #1f2937;
    border-radius: 20px;
    border: transparent;
}


.test-cont
{
    width: 100%;
    flex: none;
    scroll-snap-align: start;
    padding-bottom: 8px;
}

.test-cont .author
{
    text-align: right;
    font-weight: bolder;
}

.test-cont blockquote
{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: left;
}

footer
{
    padding: 10px 30px;
}

.footer
{
    text-align: center;
}