@font-face {
    font-family: Hero;
    src: url(./fonts/Hero/Hero-Regular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Hero;
    src: url(./fonts/Hero/Hero-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Hero;
    src: url(./fonts/Hero/Hero-Light.ttf) format("truetype");
    font-weight:300 ;
}

*
{
    font-family: Hero, system-ui, sans-serif;
    font-size: 18px;
    border: 1px dashed red;
}

body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    min-height: 100vh;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

.bright
{
    color: #f9faf8;
}

.lightgrey
{
    color: #e5e7eb;
}

.dark
{
    color: #1F2937;
}

.darkgrey
{
    color: #e5e7eb;

}

.signup button
{
    background-color: #3882f6;
    border-color: #3882f6;
    color: #f9faf8;
    border-radius: 6px;
    padding: 4px 16px;
    cursor: pointer;
}

.signup button:hover
{
    background-color: #0062ff;
}

.inner
{
    width: 70%;
    margin: 0 auto;
}

header
{
    width: 100%;
    background-color: #1F2937;
}

header  *
{
    margin: 0;
    padding: 0;
}

nav
{   
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
    padding: 8px 0;
}

picture.navmem
{
    filter: invert(0.4);
    display: flex;
}

ul.navmem
{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.navmem a
{
    color: #e5e7eb;
}

.banner
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.banner picture
{
    min-width: 200px;
    max-width: 300px;
    flex: 1 1 200px;
    display: flex;
}

.banner-text
{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.banner img
{
    width: 100%;
    object-fit: cover;
    border: #e5e7eb solid 1px;
    border-radius: 5px;
}

.navmem#logo-title
{
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.banner #title
{
    font-size: 48px;
    font-weight: bolder;
}

main
{
    width: 100%;
    background-color: #f9faf8;
}

